<form [formGroup]="formMonitorAlarm" fxLayout="column" novalidate>
  <mat-card>  
    <mat-card-header>
        <h2>Monitor de Alarmas</h2>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row" fxLayoutGap="36px" style="margin: 0px 50px">
          <mat-form-field appearance="legacy"> 
            <mat-label >ID Garantia</mat-label>
            <input matInput 
                  placeholder="0000000"
                  formControlName="idWarrantyAccount" 
                  type="number"
                  >

          </mat-form-field>

          <mat-form-field fxFlex="3 3 24%" >
            <mat-select placeholder="Tipo de Cuenta">
              <mat-option>None</mat-option>
              <mat-option value="pesos">Pesos</mat-option>
              <mat-option value="dolares">Dolares</mat-option>
              <mat-option value="euros">Euros</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Tipo de Transaccion" >
              <mat-option *ngFor="let trxType of trxTypes" [value]="trxType.trxTypeCode">
                {{trxType.trxTypeViewValue}}
              </mat-option>  
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Moneda" >
              <mat-option *ngFor="let currency of currencys" [value]="currency.currencyCode">
                {{currency.currencyViewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

      </div>

      
      <div fxLayout="row" fxLayoutGap="2%" style="width: 100%; margin: 0px 50px 20px 50px">
          
        <mat-card style="width: 35%">  
          <mat-card-header>
            <h4>Nivel de Alarma</h4>
          </mat-card-header>
          <mat-card-content>
            <div fxLayout="column" fxLayoutGap="6%">
              <div fxLayout="row" fxLayoutGap="10%">
                <mat-checkbox>Nivel - 1</mat-checkbox>
                <mat-checkbox>Nivel - 2</mat-checkbox>
                <mat-checkbox>Nivel - 3</mat-checkbox>
              </div>
              <div fxLayout="row" fxLayoutGap="10%">
                <mat-checkbox>Nivel - 4</mat-checkbox>
                <mat-checkbox>Nivel - 5</mat-checkbox>
                <mat-checkbox>Nivel - 6</mat-checkbox>
              </div>
            </div>
          </mat-card-content>
        </mat-card> 
        <mat-card style="width: 45%">  
          <mat-card-header>
            <h4>Fecha y hora</h4>
          </mat-card-header>
          <mat-card-content >
            
              <div fxLayout="row" fxLayoutGap="12%">
                <mat-form-field style="width: 80%">
                  <input matInput [matDatepicker]="dp" placeholder="Fecha desde" [formControl]="date">
                  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                  <mat-datepicker #dp></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="legacy" style="width: 30%"> 
                  <mat-label >Hora desde</mat-label>
                  <input matInput 
                          placeholder="000"
                          type="time"
                          >
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutGap="12%">
                <mat-form-field  style="width: 80%">
                  <input matInput [matDatepicker]="dp2" placeholder="Hasta" [formControl]="date2">
                  <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                  <mat-datepicker #dp2></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="legacy" style="width: 30%"> 
                  <mat-label >Hora hasta</mat-label>
                  <input matInput 
                          placeholder="000"
                          type="time">
                </mat-form-field>
              </div>
            
          </mat-card-content>
        </mat-card> 
        
        <div fxFlex="1 1 20%" fxLayout="column" fxLayoutGap="2%" fxLayoutAlign="center center">
          <button mat-raised-button style="width: 25%; height: 25%" fxLayoutGap="12px">
            <i class="material-icons">search</i>
          </button>
        </div>

      </div>      

      <mat-divider></mat-divider>
      
      <div fxLayout="row" fxLayoutGap="2%">
        <!-- Añadir Canvas -->
        <div fxFlex="1 1 98%" >
            <alarm-charts></alarm-charts>
        </div>

              <!-- Añadir Tabla -->
              <div fxFlex="1 1 2%" style="overflow-x: auto;">
                  <table mat-table [dataSource]="dataSource" style="width:120%;">    
                    <!-- Fecha Generación Column-->
                    <ng-container matColumnDef="fechaGeneracion" >
                      <th mat-header-cell *matHeaderCellDef style="width:150px;">Fecha Generacion</th>
                      <td mat-cell *matCellDef="let element" style="width:150px;"> {{element.fechaGeneracion}} </td>
                    </ng-container>
                
                    <!-- Dia Negocio Column-->
                    <ng-container matColumnDef="diaNegocio">
                      <th mat-header-cell *matHeaderCellDef style="width:120px;">Dia Negocio</th>
                      <td mat-cell *matCellDef="let element" style="width:120px;"> {{element.diaNegocio}} </td>
                    </ng-container>
        
                    <!-- Nivel Column-->
                    <ng-container matColumnDef="nivelAlarma">
                      <th mat-header-cell *matHeaderCellDef style="width:100px;">Nivel</th>
                      <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.nivelAlarma}} </td>
                    </ng-container>
                
                    <!-- Dia Actual Column-->
                    <ng-container matColumnDef="diaActual">
                      <th mat-header-cell *matHeaderCellDef style="width:100px;"> Dia Actual </th>
                      <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.diaActual}} </td>
                    </ng-container>
                
                    <!-- Dia Siguiente Column-->
                    <ng-container matColumnDef="diaSiguiente">
                      <th mat-header-cell *matHeaderCellDef style="width:100px;"> Dia Siguiente </th>
                      <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.diaSiguiente}} </td>
                    </ng-container>
            
                    <!-- Dia 1 Column -->
                    <ng-container matColumnDef="dia1">
                      <th mat-header-cell *matHeaderCellDef style="width:100px;"> Dia 1 </th>
                      <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.dia1}} </td>
                    </ng-container>
        
                    <!-- Dia 2 Column -->
                    <ng-container matColumnDef="dia2">
                      <th mat-header-cell *matHeaderCellDef style="width:100px;"> Dia 2 </th>
                      <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.dia2}} </td>
                    </ng-container>
                
                    <!-- Dia 3 Column -->
                    <ng-container matColumnDef="dia3">
                      <th mat-header-cell *matHeaderCellDef style="width:100px;"> Dia 3 </th>
                      <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.dia3}} </td>
                    </ng-container>
                
                    <!-- Dia 4 Column -->
                    <ng-container matColumnDef="dia4">
                      <th mat-header-cell *matHeaderCellDef style="width:100px;"> Dia 4 </th>
                      <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.dia4}} </td>
                    </ng-container>
        
                    <!-- Dia 5 Column -->
                    <ng-container matColumnDef="dia5">
                      <th mat-header-cell *matHeaderCellDef style="width:100px;"> Dia 5 </th>
                      <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.dia5}} </td>
                    </ng-container>
                
                    <!-- Dia 6 Column -->
                    <ng-container matColumnDef="dia6">
                      <th mat-header-cell *matHeaderCellDef style="width:100px;"> Dia 6 </th>
                      <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.dia6}} </td>
                    </ng-container>
                
                    <!-- Dia 7 Column -->
                    <ng-container matColumnDef="dia7">
                      <th mat-header-cell *matHeaderCellDef style="width:100px;"> Dia 7 </th>
                      <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.dia7}} </td>
                    </ng-container>
        
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  
                  </table>
                </div>



      </div>
  


    </mat-card-content>
  </mat-card> 
</form>

