<section 
  class="navigation"
  fxLayout="column"
  [style.width.%]="100"
  [style.height.%]="100"
>
  <mat-toolbar color="primary">
    <mat-progress-bar
      mode="indeterminate"
      [style.position]="'absolute'"
      [style.top]="0"
      [style.left]="0"
      [style.visibility]="!navLoader.isLoading() ? 'hidden' : null"
    >
    </mat-progress-bar>
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()">
        <i class="material-icons">menu</i>
      </button>
      <span class="title">
        Sistemas de Garantias
      </span>
      <span fxFlex></span>
      <span class="greeting">
        Usuario
      </span>
      <button mat-icon-button>
          <i class="material-icons">person</i>
      </button>
      <button mat-icon-button (click)="logout()">
        <i class="material-icons">power_settings_new</i>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container fxFlex >
    <mat-sidenav
      #sidenav="matSidenav"
      [mode]="'side'"
      [opened]="true"
      class="sidenav"
    >
      <!-- Menu -->
      <mat-list>
        <h3 mat-subheader> Página Principal </h3>
        <mat-list-item [routerLink]="['/home']">
          <i mat-list-icon class="material-icons">dashboard</i>
          <h3 matLine>Dashboard</h3>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h2 mat-subheader> Garantia </h2>
        <mat-list-item [routerLink]="['/warranty-accounts']">
          <i mat-list-icon class="material-icons">account_balance</i>
          <h3 matLine>Cuentas de Garantía</h3>
        </mat-list-item>
        <mat-list-item [routerLink]="['/warranty-account-config']">
          <i mat-list-icon class="material-icons">account_balance_wallet</i>
          <h3 matLine>Configuración de Cuentas</h3>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h2 mat-subheader>Alarmas</h2>
        <mat-list-item [routerLink]="['/status-alarm']">
          <i mat-list-icon class="material-icons">alarm</i>
          <h3 matLine>Monitor de Alarmas</h3>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h2 mat-subheader>Estados de Garantias</h2>
        <mat-list-item [routerLink]="['/state-monitor']">
          <i mat-list-icon class="material-icons">assessment</i>
          <h3 matLine>Monitor de Estados</h3>
        </mat-list-item>
      </mat-list> 
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- <div fxFlex> -->
        <div class="container" 
             [style.position]="'absolute'"
             style="margin-left: 2%;
                    margin-right: 2%;
                    width: 96%"
             >
            <router-outlet></router-outlet>
        </div> 
        
      <!--</div>
       <div fxLayoutAlign="end end" style="margin: 2%">
        <button mat-fab 
                matTooltip="Actions"
                style="position: fixed"
                >
          <i mat-list-icon class="material-icons">add</i>
        </button>
        !-- <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" style="order:1">
          <button mat-mini-fab>
            <i mat-list-icon class="material-icons">add</i>
          </button>
          <button mat-mini-fab disabled>
            <i mat-list-icon class="material-icons">edit</i>
          </button>
          <button mat-mini-fasb>
            <i mat-list-icon class="material-icons">delete</i>
          </button>   
        </div> --
      </div> -->

    </mat-sidenav-content>


  </mat-sidenav-container>




</section>
