<div>
  <button mat-icon-button style="width: 200px"> 
      <i class="material-icons">assignment</i>
      Seleccionar Garantia
  </button>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" style="width:100%;">

      <!-- idGarantia Column -->
      <ng-container matColumnDef="idGarantia" >
        <th mat-header-cell *matHeaderCellDef style="width:150px;"> ID Garantia </th>
        <td mat-cell *matCellDef="let element" style="width:150px;"> {{element.idGarantia}} </td>
      </ng-container>

      <!-- garantia Column -->
      <ng-container matColumnDef="garantia">
        <th mat-header-cell *matHeaderCellDef style="width:120px;"> Garantia </th>
        <td mat-cell *matCellDef="let element" style="width:120px;"> {{element.garantia}} </td>
      </ng-container>

      <!-- Anticipo Column -->
      <ng-container matColumnDef="anticipo">
        <th mat-header-cell *matHeaderCellDef style="width:100px;"> Anticipo </th>
        <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.anticipo}} </td>
      </ng-container>

      <!-- Al1On Column -->
      <ng-container matColumnDef="al1On">
        <th mat-header-cell *matHeaderCellDef style="width:100px;"> Al1On </th>
        <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.al1On}} </td>
      </ng-container>

      <!-- Al1Off Column -->
      <ng-container matColumnDef="al1Off">
        <th mat-header-cell *matHeaderCellDef style="width:100px;"> Al1Off </th>
        <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.al1Off}} </td>
      </ng-container>

      <!-- Al2On Column -->
      <ng-container matColumnDef="al2On">
        <th mat-header-cell *matHeaderCellDef style="width:100px;"> Al2On </th>
        <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.al2On}} </td>
      </ng-container>

      <!-- Al2Off Column -->
      <ng-container matColumnDef="al2Off">
        <th mat-header-cell *matHeaderCellDef style="width:100px;"> Al2Off </th>
        <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.al2Off}} </td>
      </ng-container>

      <!-- Al3On Column -->
      <ng-container matColumnDef="al3On">
        <th mat-header-cell *matHeaderCellDef style="width:100px;"> Al3On </th>
        <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.al3On}} </td>
      </ng-container>

      <!-- Al3Off Column -->
      <ng-container matColumnDef="al3Off">
        <th mat-header-cell *matHeaderCellDef style="width:100px;"> Al3Off </th>
        <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.al3Off}} </td>
      </ng-container>

      <!-- Al4On Column -->
      <ng-container matColumnDef="al4On">
        <th mat-header-cell *matHeaderCellDef style="width:100px;"> Al4On </th>
        <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.al4On}} </td>
      </ng-container>

      <!-- Al4Off Column -->
      <ng-container matColumnDef="al4Off">
        <th mat-header-cell *matHeaderCellDef style="width:100px;"> Al4Off </th>
        <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.al4Off}} </td>
      </ng-container>

      <!-- Al5On Column -->
      <ng-container matColumnDef="al5On">
        <th mat-header-cell *matHeaderCellDef style="width:100px;"> Al5On </th>
        <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.al5On}} </td>
      </ng-container>

      <!-- Al5Off Column -->
      <ng-container matColumnDef="al5Off">
        <th mat-header-cell *matHeaderCellDef style="width:100px;"> Al5Off </th>
        <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.al5Off}} </td>
      </ng-container>

      <!-- Al6On Column -->
      <ng-container matColumnDef="al6On">
        <th mat-header-cell *matHeaderCellDef style="width:100px;"> Al6On </th>
        <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.al6On}} </td>
      </ng-container>

      <!-- Al6Off Column -->
      <ng-container matColumnDef="al6Off">
        <th mat-header-cell *matHeaderCellDef style="width:100px;"> Al6Off </th>
        <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.al6Off}} </td>
      </ng-container>

      <!-- Baja Column -->
      <ng-container matColumnDef="baja">
        <th mat-header-cell *matHeaderCellDef style="width:100px;"> Baja </th>
        <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.baja}} </td>
      </ng-container>

      <!-- Tipo Column -->
      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef style="width:100px;"> Tipo </th>
        <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.tipo}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
    </table>
  </div>
  <mat-divider></mat-divider>
  <mat-grid-list cols="6" rowHeight="70px">
    <mat-grid-tile
        [colspan]="2"
        [rowspan]="1">
      <mat-form-field style="width: 100%; padding-top: 60px;">
        <mat-select placeholder="Tipo de Cuenta">
          <mat-option>None</mat-option>
          <mat-option value="0011">0011 - Banco Nacion</mat-option>
          <mat-option value="0020">0020 - Banco 2</mat-option>
          <mat-option value="0045">0045 - Banco 3</mat-option>
          <mat-option value="0311">0311 - Banco Nuevo del Chaco</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="4"
        [rowspan]="2">
      <mat-card style="width: 100%; margin-top: 40px;">
        <mat-card-header>
          <h4>Valores por defecto</h4>
        </mat-card-header>
        <mat-card-content>
          <mat-grid-list cols="4" rowHeight="50px">
            <mat-grid-tile
              [colspan]="1"
              [rowspan]="1">
              <button mat-icon-button style="width: 100%"> 
                <i class="material-icons">assignment</i>
                Garantia               
              </button>
            </mat-grid-tile>
            <mat-grid-tile
              [colspan]="1"
              [rowspan]="1">
              <button mat-icon-button style="width: 100%"> 
                <i class="material-icons">assignment</i>
                Garantia               
              </button>
            </mat-grid-tile>
            <mat-grid-tile
              [colspan]="1"
              [rowspan]="1">
              <button mat-icon-button style="width: 100%"> 
                <i class="material-icons">assignment</i>
                Garantia               
              </button>
            </mat-grid-tile>
            <mat-grid-tile
              [colspan]="1"
              [rowspan]="1">
              <button mat-icon-button style="width: 100%"> 
                <i class="material-icons">assignment</i>
                Garantia               
              </button>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
      
      </mat-card>

    </mat-grid-tile>
  </mat-grid-list>

  <mat-divider></mat-divider>

  <mat-grid-list cols="6" rowHeight="80px">
    <mat-grid-tile
        [colspan]="4"
        [rowspan]="4" style="width: 900px">
      <app-trx-account></app-trx-account>
    </mat-grid-tile>
        <mat-grid-tile
        [colspan]="2"
        [rowspan]="1">
        <span class="example-spacer"></span>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">
      <button mat-icon-button style="width: 200px"> 
        <i class="material-icons">assignment</i>
        Agregar
      </button>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">
        <span class="example-spacer"></span>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">
      <button mat-icon-button style="width: 200px"> 
        <i class="material-icons">assignment</i>
        Modificar
      </button>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">
        <span class="example-spacer"></span>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">
      <button mat-icon-button style="width: 100%"> 
        <i class="material-icons">assignment</i>
        Eliminar
      </button>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">
        <span class="example-spacer"></span>
    </mat-grid-tile>
  </mat-grid-list>
  </div>



