<div class="bg-image-login" [style.height.%]="100">
<div
  fxLayout="column"
  fxLayoutAlign.gt-xs="center center"
  [style.height.%]="100"
  class="bg-image-login"
>

  <mat-card fxFlex.gt-xs="nogrow"
            fxFlex.lt-sm="grow"
            ngStyle.lt-sm="border-radius: 0;"
            [style.overflow]="'hidden'"
            class="login-container"
            >
    <mat-progress-bar
      mode="indeterminate"
      [style.visibility]="!loginLoader.isLoading() ? 'hidden' : null"
      style="position: absolute; left: 0; top: 0;">
    </mat-progress-bar>
    <div fxLayoutAlign="center">
      <img class="card-header-image" src="../../../assets/img/Red_link_logo.png" alt="">
    </div>
    <mat-card-title fxLayoutAlign="center"> Sistemas de Garantias</mat-card-title>
    <mat-card-subtitle fxLayoutAlign="center">Iniciar Sesión </mat-card-subtitle>
  
    <mat-card-content fxLayoutAlign="center" >
      <mat-horizontal-stepper
        #stepper="matHorizontalStepper"
        (selectionChange)="stepIndex = $event.selectedIndex"
        class="horizontal-stepper"
        >
        <mat-step
          [stepControl]="usernameControl"
          [hasError]="!usernameControl.valid"
          #usernameStep="matStep"
        >
          <ng-template matStepLabel>Usuario</ng-template>
          <mat-form-field [style.width.%]="100" appearance="outline" >

            <mat-label >Usuario</mat-label>
            <input
              matInput
              placeholder="Ingresá tu usuario o mail"
              [formControl]="usernameControl"
              required
            />
            <mat-error id="required">Debes ingresar un usuario</mat-error>

          </mat-form-field>
          <button mat-button style="color:#1a73e8" type="button">
            ¿Has olvidado tu usuario?
          </button>
        </mat-step>
        <mat-step [stepControl]="passwordControl"
                  [hasError]="!passwordControl.valid"
                  #passwordStep="matStep">
          <ng-template matStepLabel>Contraseña</ng-template>
          <mat-form-field [style.width.%]="100" appearance="outline">

            <mat-label>Contraseña</mat-label>
            <input
              matInput
              type="password"
              placeholder="Ingresá tu contraseña"
              [formControl]="passwordControl"
              required
            />
            <mat-error id="required">Debes ingresar tu contraseña</mat-error>

          </mat-form-field>
          <button mat-button style="color:#1a73e8"  type="button">
            ¿Has olvidado tu contraseña?
          </button>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
      <button        
        *ngIf="isInStep(1)"
        (click)="stepper.previous()"
        mat-button
      >
        Volver
      </button>
      <button
        mat-button
        [color]="isInStep(1) ? 'primary' : null"
        (click)="isInStep(0) ? stepper.next() : login()"
      >
        {{ isInStep(0) ? 'Siguiente' : 'Login' }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
</div>
