
.login-container {
    width: 400px;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.8);
}

.card-header-image {
    border-radius: 50%;
    max-height:90px;
    max-width: 90px;
    margin: 20px 0px;
}

.dont-remember{
    width: 100%;
    height: auto;
    margin-top: 10px; 
    color:#1a73e8;
}

.bg-image-login {
    background: url("../../../assets/img/Red_link_bg");
    background-repeat : no-repeat;
    width: 100%;
    margin-top: 0px;
    background-size: 100% 100%;

}

.horizontal-stepper {
    background-color: transparent;
}
