<h1 mat-dialog-title>Cuenta</h1>
<mat-dialog-content class="mat-typography">

    <table mat-table [dataSource]="dataSource" style="width:100%;">
    
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef style="width:150px;">
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()"
                          disabled>
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row" style="width:150px;">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>
  
        <!-- idGarantia Column -->
        <ng-container matColumnDef="id" >
          <th mat-header-cell *matHeaderCellDef style="width:150px;"> ID Garantia </th>
          <td mat-cell *matCellDef="let element" style="width:150px;"> {{element.id}} </td>
        </ng-container>
    
        <!-- garantia Column -->
        <ng-container matColumnDef="garantia">
          <th mat-header-cell *matHeaderCellDef style="width:120px;"> Garantia </th>
          <td mat-cell *matCellDef="let element" style="width:120px;"> {{element.warrantyAmount}} </td>
        </ng-container>
    
        <!-- Anticipo Column -->
        <ng-container matColumnDef="anticipo">
          <th mat-header-cell *matHeaderCellDef style="width:100px;"> Anticipo </th>
          <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.retainer}} </td>
        </ng-container>
    
        <!-- Al1On Column -->
        <ng-container matColumnDef="al1On">
          <th mat-header-cell *matHeaderCellDef style="width:100px;"> Al1On </th>
          <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.alarms[0].alOn}} </td>
        </ng-container>
    
        <!-- Al1Off Column -->
        <ng-container matColumnDef="al1Off">
          <th mat-header-cell *matHeaderCellDef style="width:100px;"> Al1Off </th>
          <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.alarms[0].alOff}} </td>
        </ng-container>

        <!-- Al2On Column -->
        <ng-container matColumnDef="al2On">
          <th mat-header-cell *matHeaderCellDef style="width:100px;"> Al2On </th>
          <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.alarms[1].alOn}} </td>
        </ng-container>
    
        <!-- Al2Off Column -->
        <ng-container matColumnDef="al2Off">
          <th mat-header-cell *matHeaderCellDef style="width:100px;"> Al2Off </th>
          <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.alarms[1].alOff}} </td>
        </ng-container>
    
        <!-- Al3On Column -->
        <ng-container matColumnDef="al3On">
          <th mat-header-cell *matHeaderCellDef style="width:100px;"> Al3On </th>
          <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.alarms[2].alOn}} </td>
        </ng-container>
    
        <!-- Al3Off Column -->
        <ng-container matColumnDef="al3Off">
          <th mat-header-cell *matHeaderCellDef style="width:100px;"> Al3Off </th>
          <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.alarms[2].alOff}} </td>
        </ng-container>
    
        <!-- Al4On Column -->
        <ng-container matColumnDef="al4On">
          <th mat-header-cell *matHeaderCellDef style="width:100px;"> Al4On </th>
          <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.alarms[3].alOn}} </td>
        </ng-container>
    
        <!-- Al4Off Column -->
        <ng-container matColumnDef="al4Off">
          <th mat-header-cell *matHeaderCellDef style="width:100px;"> Al4Off </th>
          <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.alarms[3].alOff}} </td>
        </ng-container>
    
        <!-- Al5On Column -->
        <ng-container matColumnDef="al5On">
          <th mat-header-cell *matHeaderCellDef style="width:100px;"> Al5On </th>
          <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.alarms[4].alOn}} </td>
        </ng-container>
    
        <!-- Al5Off Column -->
        <ng-container matColumnDef="al5Off">
          <th mat-header-cell *matHeaderCellDef style="width:100px;"> Al5Off </th>
          <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.alarms[4].alOff}} </td>
        </ng-container>
    
        <!-- Al6On Column -->
        <ng-container matColumnDef="al6On">
          <th mat-header-cell *matHeaderCellDef style="width:100px;"> Al6On </th>
          <td mat-cell *matCellDef="let element" style="width:100px;">{{element.alarms[5].alOn}} </td>
        </ng-container>
    
        <!-- Al6Off Column -->
        <ng-container matColumnDef="al6Off">
          <th mat-header-cell *matHeaderCellDef style="width:100px;"> Al6Off </th>
          <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.alarms[5].alOff}} </td>
        </ng-container>
    
        <!-- Baja Column -->
        <!-- <ng-container matColumnDef="baja">
          <th mat-header-cell *matHeaderCellDef style="width:100px;"> Baja </th>
          <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.baja}} </td>
        </ng-container> -->
    
        <!-- Tipo Column -->
        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef style="width:100px;"> Tipo </th>
          <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.accountType}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
      </table>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="validateSelection()">Aceptar</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Cancelar</button>
</mat-dialog-actions>

