/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body,
html {
  height: 100%;
  margin: 0;
  
}

.container-table {
  margin: 20px;
}

.mat-card-content mat-form-field{
  width: 25%;
}

.mat-card-content .mat-card-content mat-form-field{
  width: 100px;
}

.container{
  margin: 20px;
}

.fab-container{
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.fab-container div{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 5px;
}

.fab-container div button{
  margin-bottom: 17px;
}

.fab-toggler {
  float: right;
  z-index: 100;
}

.card-header-test{
  border-radius: 3px;
  margin-top: -20px !important;
  background: #1a73e8;
  color: #ffff;
  position: relative;
}