<h3 style="margin: 10px 25px; width: 100%" >
  Entidades/Transacciones que impactan en esta cuenta de garantías
</h3>
<div style="width:100%; margin: 0px 25px;">
  <table mat-table [dataSource]="dataSource" style=" width: 100%">
      <!-- Entidad Column -->
      <ng-container matColumnDef="entidad" >
        <th mat-header-cell *matHeaderCellDef style="width:55em;"> Entidad </th>
        <td mat-cell *matCellDef="let element" style="width:55em;"> {{element.entidad}} </td>
      </ng-container>

      <!-- Ente Column -->
      <ng-container matColumnDef="ente">
        <th mat-header-cell *matHeaderCellDef style="width:40em;"> Ente </th>
        <td mat-cell *matCellDef="let element" style="width:40em;"> {{element.ente}} </td>
      </ng-container>

      <!-- Canal Column -->
      <ng-container matColumnDef="canal">
        <th mat-header-cell *matHeaderCellDef style="width:40em;"> Canal </th>
        <td mat-cell *matCellDef="let element" style="width:40em;"> {{element.canal}} </td>
      </ng-container>

      <!-- Trx Column -->
      <ng-container matColumnDef="trx">
        <th mat-header-cell *matHeaderCellDef style="width:40em;"> Trx </th>
        <td mat-cell *matCellDef="let element" style="width:40em;"> {{element.trx}} </td>
      </ng-container>

      <!-- ID Garantia Column -->
      <ng-container matColumnDef="idGarantia">
        <th mat-header-cell *matHeaderCellDef style="width:65em;"> ID Garantia </th>
        <td mat-cell *matCellDef="let element" style="width:65em;"> {{element.idGarantia}} </td>
      </ng-container>

      <!-- Moneda Column -->
      <ng-container matColumnDef="moneda">
        <th mat-header-cell *matHeaderCellDef style="width:50em;"> Moneda </th>
        <td mat-cell *matCellDef="let element" style="width:50em;"> {{element.moneda}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons style=" width: 80%;"></mat-paginator>    
</div>
   

