
<form [formGroup]="formWarrantyAccount" fxLayout="column" novalidate>
  <mat-card>  
    <mat-card-header>
        <h2>Warranty Account</h2>
    </mat-card-header>
    <mat-card-content>
    <!-- <mat-dialog-content class="mat-typography"> -->
      <div fxLayout="row" fxLayoutGap="36px" style="margin: 0px 50px">
        
        <mat-form-field appearance="legacy"> 
          <mat-label >ID Garantia</mat-label>
          <input matInput 
                 placeholder="0000000"
                 formControlName="idWarrantyAccount" 
                 type="number"
                 (blur)="onBlurIdWarranty()"
                 >
          <mat-error *ngIf="formWarrantyAccount.controls['idWarrantyAccount'].hasError('pattern') && !formWarrantyAccount.controls['idWarrantyAccount'].hasError('required')"
                 >
            Please, warranty id < 99999999
          </mat-error>
          <mat-error *ngIf="formWarrantyAccount.controls['idWarrantyAccount'].hasError('required')">
            Warranty ID is <strong>required</strong>
          </mat-error> 
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label>Monto Garantia</mat-label>
          <input matInput 
                 placeholder="$0,00"
                 formControlName="warrantyAmount"
                 (blur)="onBlurWarrantyAmount()"
                 (focus)="onFocusWarrantyAmount()"
                 
                 >
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label>Monto Anticipo</mat-label>
          <input matInput 
                 placeholder="$0,00"
                 (blur)="onBlurRetainerAmount()"
                 (focus)="onFocusRetainerAmount()"
                 formControlName="retainer">
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Tipo de Cuenta"
                      formControlName="accountType"
                      >
            <mat-option *ngFor="let accountType of accountTypes"
                        [value]="accountType.accountTypeCode">
              {{accountType.accountTypeViewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    
      <!-- <mat-card>
        <mat-card-header> -->
          <h3 style="margin: 10px 25px">Niveles de activación y desactivación de Alarmas</h3>
        <!-- </mat-card-header>
        <mat-card-content> -->
          <mat-grid-list cols="6" rowHeight="180px" formArrayName=alarms>
            <mat-grid-tile 
                *ngFor="let alarm of formWarrantyAccount.controls['alarms'].controls; let i = index"
                colspan="1"
                rowspan="1"
                formGroupName="{{i}}">
              <mat-card style="text-align: center; padding: 0px; margin: 0px 15px">
                <mat-card-content >

                    <h4>Alarma {{i+1}}</h4>

                    <mat-form-field appearance="legacy">
                      <mat-label>ON (%)</mat-label>
                      <input matInput 
                             placeholder="00%"
                             (blur)="onBlurAlarmOnField(i)"
                             (focus)="onFocusAlarmOnField(i)"
                             formControlName="alOn">
                    </mat-form-field>

                    <mat-form-field appearance="legacy">
                      <mat-label>OFF (%)</mat-label>
                      <input matInput 
                             placeholder="00%"
                             (blur)="onBlurAlarmOffField(i)"
                             (focus)="onFocusAlarmOffField(i)"
                             formControlName="alOff">
                    </mat-form-field>
                  
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        <!-- </mat-card-content>
      </mat-card> -->
    
      <div fxLayout="row" fxLayoutGap="2%" style=" width: 100%">
        <div fxFlex="4 4 80%">
          <app-trx-account></app-trx-account>
        </div>
      </div>
    
    </mat-card-content>
  </mat-card>

  <div class="fab-container">
    <button mat-fab 
            matTooltip="Show actions"
            matTooltipPosition="before"
            class="fab-toggler"
            (click)="onToggleFab()"
            color="primary"
            >
      <i mat-list-icon class="material-icons">add</i>
    </button>
    <div>
      <button mat-mini-fab 
              matTooltip="Save"
              matTooltipPosition="before"
              color="secondary"
              (click)="saveWarrantyAccount()"
              *ngIf="visible" 
              >
        <i class="material-icons">save</i>
      </button>
      <button mat-mini-fab 
              matTooltip="Cancel"
              matTooltipPosition="before"
              color="secondary"
              *ngIf="visible" 
              
              >
        <i class="material-icons">cancel</i>
      </button>
    </div>
  </div>
</form>


