<mat-form-field appearance="legacy" style="width: 100px">
  <mat-label>Monto Garantia</mat-label>
  <input matInput 
       placeholder="$0,00"
       [(ngModel)]="value"
       (change)="onChange($event)" 
       (keyup)="onChange($event)">/>


</mat-form-field>
local: {{val}}

