<div fxLayout="column" fxLayoutGap="48px" style="width: 100%;">
  <div fxLayout="row" fxLayoutGap="48px" style="width: 100%;">
    <mat-card [style.width.%]="20">
      <mat-card-header>
        <h4>Cantidad por Aprobación</h4>
      </mat-card-header>
      <mat-card-content>
  
      </mat-card-content>
    </mat-card>
    <mat-card [style.width.%]="20">
      <mat-card-header>
        <h4>Cantidad por Aprobación</h4>
      </mat-card-header>
      <mat-card-content>
  
      </mat-card-content>
    </mat-card>
    <mat-card [style.width.%]="20">
      <mat-card-header>
        <h4>Cantidad por Aprobación</h4>
      </mat-card-header>
      <mat-card-content>
  
      </mat-card-content>
    </mat-card>
    <mat-card [style.width.%]="20">
      <mat-card-header>
        <h4>Cantidad por Aprobación</h4>
      </mat-card-header>
      <mat-card-content>
  
      </mat-card-content>
    </mat-card>
  </div>

  <mat-card style="width: 100%">
    <mat-card-header>
        <h2>Pendientes por Aprobación</h2>
    </mat-card-header>
    <mat-card-content style="width: 100%">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Altas" class="card-header-test">      
          <mat-selection-list #warrantiesList style="height: 400px">  
            <mat-list-option *ngFor="let warranty of warranties">
              <i mat-list-icon class="material-icons">account_balance</i>
             
              <h4 mat-line>  
                Garantia - {{warranty.id}}
                con Monto de {{warranty.warrantyAmount/100 | number:'1.2-2':'es-AR'}} 
                y Anticipo: {{warranty.retainer/100 | number:'1.2-2':'es-AR'}}
                para Cuenta {{warranty.accountType }}</h4>
              <p mat-line>
                Al1: {{warranty.alarms[0].alOff/100 | percent:'1.2-2':'en-US'}}-{{warranty.alarms[0].alOn/100 | percent:'1.2-2':'en-US'}}
                Al2: {{warranty.alarms[1].alOff/100 | percent:'1.2-2':'en-US'}}-{{warranty.alarms[1].alOn/100 | percent:'1.2-2':'en-US'}}
                Al3: {{warranty.alarms[2].alOff/100 | percent:'1.2-2':'en-US'}}-{{warranty.alarms[2].alOn/100 | percent:'1.2-2':'en-US'}}
                Al4: {{warranty.alarms[3].alOff/100 | percent:'1.2-2':'en-US'}}-{{warranty.alarms[3].alOn/100 | percent:'1.2-2':'en-US'}}
                Al5: {{warranty.alarms[4].alOff/100 | percent:'1.2-2':'en-US'}}-{{warranty.alarms[4].alOn/100 | percent:'1.2-2':'en-US'}}
                Al6: {{warranty.alarms[5].alOff/100 | percent:'1.2-2':'en-US'}}-{{warranty.alarms[5].alOn/100 | percent:'1.2-2':'en-US'}}
              </p>      
            </mat-list-option>
          </mat-selection-list>
        </mat-tab>
        <mat-tab label="Modificaciones">
          Modificaciones
        </mat-tab>
        <mat-tab label="Bajas">
          Bajas
        </mat-tab>
      </mat-tab-group>

    </mat-card-content>

  </mat-card>

  <div class="fab-container">
    <button mat-fab 
            matTooltip="Show actions"
            matTooltipPosition="before"
            class="fab-toggler"
            (click)="visibleActionItems=!visibleActionItems"
            color="primary"
            >
      <i mat-list-icon class="material-icons">add</i>
    </button>
    <div>
      <button mat-mini-fab 
          matTooltip="Approved"
          matTooltipPosition="before"
          color="secondary"
          *ngIf="visibleActionItems" 
          >
        <i class="material-icons">done</i>
      </button>
      <button mat-mini-fab 
              matTooltip="View Detail"
              matTooltipPosition="before"
              color="secondary"
              *ngIf="visibleActionItems" 
              >
        <i class="material-icons">zoom_in</i>
      </button>

      <button mat-mini-fab 
              matTooltip="Delete"
              matTooltipPosition="before"
              color="secondary"
              *ngIf="visibleActionItems" 
              >
        <i class="material-icons">delete</i>
      </button>
    </div>
  </div>

</div>


