<form #formWarrantyAccount>
  <mat-card>  
    <mat-card-header>
        <h2>Warranty Account Config</h2>
    </mat-card-header>
    <mat-card-content>
      <div>
        <button mat-raised-button color="primary" type="button" (click)="selectedWarrantyAccount()">
          Seleccionar Garantia
        </button>
      </div>
      <table mat-table [dataSource]="dataSource" style="width:100%;">
      
        <!-- Checkbox Column -->
        
        <!-- <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef style="width:150px;">
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row" style="width:150px;">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container> -->

        <!-- idGarantia Column -->
        <ng-container matColumnDef="id" >
          <th mat-header-cell *matHeaderCellDef style="width:150px;"> ID Garantia </th>
          <td mat-cell *matCellDef="let element" style="width:150px;"> {{element.id}} </td>
        </ng-container>
    
        <!-- garantia Column -->
        <ng-container matColumnDef="garantia">
          <th mat-header-cell *matHeaderCellDef style="width:120px;"> Garantia </th>
          <td mat-cell *matCellDef="let element" style="width:120px;"> {{element.warrantyAmount}} </td>
        </ng-container>
    
        <!-- Anticipo Column -->
        <ng-container matColumnDef="anticipo">
          <th mat-header-cell *matHeaderCellDef style="width:100px;"> Anticipo </th>
          <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.retainer}} </td>
        </ng-container>
    
        <!-- Al1On Column -->
        <ng-container matColumnDef="al1On">
          <th mat-header-cell *matHeaderCellDef style="width:100px;"> Al1On </th>
          <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.alarms[0].alOn}} </td>
        </ng-container>
    
        <!-- Al1Off Column -->
        <ng-container matColumnDef="al1Off">
          <th mat-header-cell *matHeaderCellDef style="width:100px;"> Al1Off </th>
          <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.alarms[0].alOff}} </td>
        </ng-container>

        <!-- Al2On Column -->
        <ng-container matColumnDef="al2On">
          <th mat-header-cell *matHeaderCellDef style="width:100px;"> Al2On </th>
          <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.alarms[1].alOn}} </td>
        </ng-container>
    
        <!-- Al2Off Column -->
        <ng-container matColumnDef="al2Off">
          <th mat-header-cell *matHeaderCellDef style="width:100px;"> Al2Off </th>
          <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.alarms[1].alOff}} </td>
        </ng-container>
    
        <!-- Al3On Column -->
        <ng-container matColumnDef="al3On">
          <th mat-header-cell *matHeaderCellDef style="width:100px;"> Al3On </th>
          <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.alarms[2].alOn}} </td>
        </ng-container>
    
        <!-- Al3Off Column -->
        <ng-container matColumnDef="al3Off">
          <th mat-header-cell *matHeaderCellDef style="width:100px;"> Al3Off </th>
          <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.alarms[2].alOff}} </td>
        </ng-container>
    
        <!-- Al4On Column -->
        <ng-container matColumnDef="al4On">
          <th mat-header-cell *matHeaderCellDef style="width:100px;"> Al4On </th>
          <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.alarms[3].alOn}} </td>
        </ng-container>
    
        <!-- Al4Off Column -->
        <ng-container matColumnDef="al4Off">
          <th mat-header-cell *matHeaderCellDef style="width:100px;"> Al4Off </th>
          <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.alarms[3].alOff}} </td>
        </ng-container>
    
        <!-- Al5On Column -->
        <ng-container matColumnDef="al5On">
          <th mat-header-cell *matHeaderCellDef style="width:100px;"> Al5On </th>
          <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.alarms[4].alOn}} </td>
        </ng-container>
    
        <!-- Al5Off Column -->
        <ng-container matColumnDef="al5Off">
          <th mat-header-cell *matHeaderCellDef style="width:100px;"> Al5Off </th>
          <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.alarms[4].alOff}} </td>
        </ng-container>
    
        <!-- Al6On Column -->
        <ng-container matColumnDef="al6On">
          <th mat-header-cell *matHeaderCellDef style="width:100px;"> Al6On </th>
          <td mat-cell *matCellDef="let element" style="width:100px;">{{element.alarms[5].alOn}} </td>
        </ng-container>
    
        <!-- Al6Off Column -->
        <ng-container matColumnDef="al6Off">
          <th mat-header-cell *matHeaderCellDef style="width:100px;"> Al6Off </th>
          <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.alarms[5].alOff}} </td>
        </ng-container>
    
        <!-- Baja Column -->
        <!-- <ng-container matColumnDef="baja">
          <th mat-header-cell *matHeaderCellDef style="width:100px;"> Baja </th>
          <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.baja}} </td>
        </ng-container> -->
    
        <!-- Tipo Column -->
        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef style="width:100px;"> Tipo </th>
          <td mat-cell *matCellDef="let element" style="width:100px;"> {{element.accountType}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
      </table>

      <div fxLayout="row" fxLayoutGap="2%" fxLayoutAlign="center center" style="margin-top: 2%">
        <mat-form-field fxFlex="3 3 24%" >
          <mat-select placeholder="Tipo de Cuenta">
            <mat-option>None</mat-option>
            <mat-option value="pesos">Pesos</mat-option>
            <mat-option value="dolares">Dolares</mat-option>
            <mat-option value="euros">Euros</mat-option>
          </mat-select>
        </mat-form-field>
        <div fxFlex="4 4 76%">
          <mat-card>  
              <mat-card-header>
                <h4>Valores por defectos para Garantias</h4>
              </mat-card-header>
              <mat-card-content>
                <div fxLayout="row" fxLayoutGap="3%">
                  <button mat-raised-button style="width: 25%">Garantia General</button>
                  <button mat-raised-button style="width: 25%">Resto de Operaciones</button>
                  <button mat-raised-button style="width: 25%">Transf. en Pesos</button>
                  <button mat-raised-button style="width: 25%">Transf. en Dólares</button>
                </div>
              </mat-card-content>
            </mat-card> 
          
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="5%" fxLayoutAlign="center center" style="margin-top: 2%">
        
        <mat-form-field>
          <mat-select placeholder="Tipo de Transaccion" >
            <mat-option *ngFor="let trxType of trxTypes" [value]="trxType.trxTypeCode">
              {{trxType.trxTypeViewValue}}
            </mat-option>  
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Moneda" >
            <mat-option *ngFor="let currency of currencys" [value]="currency.currencyCode">
              {{currency.currencyViewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      
      </div>
      
      <div fxLayout="row" fxLayoutGap="2%" style=" width: 100%">

        <div fxFlex="4 4 80%">
          <app-trx-account></app-trx-account>
        </div>

        <div fxFlex="1 1 20%" fxLayout="column" fxLayoutGap="2%" fxLayoutAlign="center center">

          <button mat-raised-button style=" width: 60%" fxLayoutGap="12px">
            <i class="material-icons">add_circle</i>Agregar
          </button>

          <button mat-raised-button style=" width: 60%">
            <i class="material-icons">edit</i>Modificar
          </button>

          <button mat-raised-button style=" width: 60%">
            <i class="material-icons">delete</i>Eliminar
          </button>

        </div> 
    </div>


      





  
    </mat-card-content>
  </mat-card> 
</form>
